
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/workspace.xml
.idea/symfony2.xml
.idea/php.xml
.idea/lokirel.iml
.idea/lokirel.iml
