<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Lokirel - Профессиональное озеленение и квалифицированная забота о растениях{% endblock %}</title>
        <meta name="description" content="{% block description %}Озеленение офисов, предприятий. Профессиональный уход за растениями, спасение. Услуги фитоняни. Обучение и мастерклассы.{% endblock %}">
        <meta name="og:title" property="og:title" content="{% block ogtitle %}Lokirel - Озеленение и Уход за растениями{% endblock %}">
        {# TO DO: og:url, og:description, og:image #}
        <link rel="canonical" href="https://lokirel.ru/">

        {{ encore_entry_link_tags('app') }}

        {{ encore_entry_script_tags('app') }}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PE5HQT4HKF"></script>
        <script async>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PE5HQT4HKF');
        </script>

    </head>
    <body>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

            ym(86789979, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
            });
        </script>
        <script>
            window.content_cell={{ random_value }}
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/86789979" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        {% block body %}{% endblock %}
        <noscript>Добрый день!
        Для просмотра этого сайта нужен современный браузер с JavaScript.
        Мы занимаем озеленением и уходом за рстениями в Москве и Московской области.
        Вы можете найти нас в социальных сетях, написать на email или позвонить нам по телефону.</noscript>
    </body>
</html>
